* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #18191E;
}

.nav-background {
    height: 55px;
    width: 100%;
    background-color:#18191E ;
    display: flex;
    padding-right: 40px;
    position: fixed;
}

@media screen and (max-width:768px) {
    .nav-background{
       padding-top: 30px;
    }
}

.navbar{
    padding: 2px 0px 3px 40px;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    align-items: center;
}

.img2{
    padding-bottom: 6px;
    height: 100px;
    width: 60px;
    display: flex;
    align-items:center;
    filter: brightness(15000000000000000000000000%);
}
.text{
    padding-top: 30px;
    padding-bottom: 8px;
    font-weight: bolder;
    font-size: large;
    font-family: arial;
    font-size: 16px;
    color: white;
}
.text::first-letter{
    color: #fe6c02;
    font-size: 20px;
}

.a1{
    color: #fe6c02;
    text-decoration: none;
}



main{
    display: flex;
    padding: 120px 20px 20px;
    gap: 40px;
}


@media screen and (max-width:768px) {
    main{
        flex-direction: column;
        display: flex;
        margin: auto;
    }            
}

#loginuser {
    height: 100%;
    width: 470px;
    margin: 50px 50px 10px 200px;
    padding: 20px;
    color: white;  
     
}

@media screen and (max-width:768px) {
    #loginuser{
        width: 100%;
        max-width: 450px;
        margin:  auto;
        height: auto;
    }
}

#icon {
  font-size: 29px;
  cursor: pointer;
  color:black;
  background-color: transparent;
  border: none;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    font-size: 10px;
    display: block;
    margin-bottom: 10px;
}

.input-group input {
    height: 42px;
    width: 100%;
    padding: 10px;
    border: 1px solid #8E9298;
    border-radius: 5px;
    font-size: 14px;
    background-color: #18191E;
    color: #8E9298;
}

@media screen and (max-width:768px) {
    .input-group input{
        height: 42px;
        width: 100%;
    }
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #fe6c02;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    button{
        height: 42px;
        width: 100%;
    }
}

.login-link {
    color: #8E9298;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.login-link a {
    color: #fe6c02;
    /* text-decoration: none; */
}

.box2{
    height: 500px;
    width: 500px;
}
@media screen and (max-width:768px) {
    .box2{
        display: none;
    }
}

.box2 img{
    height: 500px;
    width: 500px;
    filter: brightness(0.6);
    border-radius: 20px;
    
}


.forgot{
    margin-top: 10px;
    color: #fe6c02;
    font-size: small;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.forgot-btn{
    width: 150px;
    color: #fe6c02;
    background: none;
    border: none;
    cursor: pointer;
    font-size: small;
}

/* .forgot-box{
    position: absolute;
    background-color: #fe6c02;
    height: 500px;
    width: 500px;
    top: 150px;
    
} */







